/* styles.css */


.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-list li {
  margin-right: 10px;
}

.navbar-list li a {
  text-decoration: none;
  color: blue; /* Set the text color to blue */
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-list li a:hover {
  color: #666;
}

/* Common styles for both mobile and desktop */

.chart-container img {
  object-fit: contain;
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  .chart-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 20vh;
  }
}